body { 
    background-color: #964747;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-bottom: 100px; /*Op deze manier komt de tekst onderaan de pagina niet onder de footer te staan.*/
}

h1 {
    font-size: 50px;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 1.2vh;
    margin-left: auto; /*Door margin-left en margin-right op auto te zetten komt het volledige vakje met tekst en border in het midden te staan.*/
    margin-right: auto;
    padding: 1vh;
    width: fit-content;
}
h2 {
    font-size: 40px;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 1.1vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1vh;
    width: fit-content;
}

h6 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

p {
    font-size: 23px;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 0.8vh;
    padding: 1vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 10vh;
    width: 100%;
    background: #4a2222;
    display: flex;
    justify-content: center; /*Hierdoor komt de tekst in het midden te staan.*/
    align-items: center; /*Hierdoor komt de tekst in het midden van het blokje te staan.*/
    border-top:#964747;
    position: fixed; /*Hierdoor kan de positie van de footer niet veranderen.*/
    bottom: 0px; /*Door deze specificatie komt de footer onderaan de pagina te staan.*/
    left:0px;
}

li { /* Dit is het list item element.*/
    display: inline;
    float: left; /*Hierdoor komen blok elementen naast elkaar te staan.*/
    padding: 10px;
    margin: 0;
}

a {
    display: block;
    padding: 8px;
    background-color: #703434; /*Achtergrond kleur van de menu bar.*/
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #703434;
    overflow: hidden;
    position: sticky;
    top: 0px;
}
 
li a:hover:not(.active) {
    background-color: #964747;
}

.active {
    background-color: #4a2222;
}

.video {
    border: solid;
    border-color: #703434;
    border-width: 1vh;
    padding: 0px;
}

.foto {
    border: solid;
    border-color: #703434;
    border-width: 1vh;
    width: 40%;
}