body { 
    background-color: #964747;
}
h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 10px;
    margin-left: auto; /*Door margin-left en margin-right op auto te zetten komt het volledige vakje met tekst en border in het midden te staan.*/
    margin-right: auto;
}

p {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 8px;
    padding: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
li { /* Dit is het list item element.*/
    display: inline;
    float: left; /*Hierdoor komen blok elementen naast elkaar te staan.*/
    padding: 10px;
    margin: 0;
}

a {
    display: block;
    padding: 8px;
    background-color: #703434; /*Achtergrond kleur van de menu bar.*/
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 10px;
    background-color: #703434;
    overflow: hidden;
}
 
li a:hover:not(.active) {
    background-color: #964747;
}

.active {
    background-color: #4a2222;
}

.indexpaginatitel {
    width: 20%;    
}

.kleurmodellentitel {
    width: fit-content;
}