body { 
    background-color: #964747;
}
h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 10px;
}
p {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 8px;
}
ul {
    list-style-type: none; /*Dit zorgt ervoor dat de puntjes voor de onderdelen van de lijst weg gaan.*/
    margin: 0; /*Hierdoor gaan de standaard instellingen van een website weg.*/
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
}
li {
    float: left;
}
li a {
    display: block;
    height: 100px;
    color: #ffffff;
    margin-top: 5px;
    margin-left: 10px;
    text-align: center;
}