body {
    background-color: #964747;
}
h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    border: inset;
    border-color: #703434;
    border-width: 50px;
}
p {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
}