body { 
    background-color: #964747;
}
h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 10px;
}
p {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-align: center;
    border: solid;
    border-color: #703434;
    border-width: 8px;
}
li { /* Dit is het list item element.*/
    display: inline;
    float: left; /*Hierdoor komen blok elementen naast elkaar te staan.*/
    padding: 20px;
    width: 15%;
    margin: 0;
}

a {
    display: block;
    padding: 8px;
    width: 100%;
    background-color: #703434; /*Achtergrond kleur van de menu bar.*/
    color: #ffffff;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
active-item { /*WIP*/
    color: #000000;
}

li a:hover {
    background-color: #964747;
}